/*========================================================

[Theme Color Stylesheet]

Project     : VPNet
Version     : 1.0
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

========================================================*/

/* Main Color */
.ColorSwitcher__control {
	color: #7cd273;
}